body{
    background-color: #1a2f3a;
}
.container{
    text-align: center;
}
.title{
    margin-top: 20px;
    color: white;
    font-size: 50px;
    justify-content: center;
}
.title span{
    color: #26ffcb;
    padding-left: 16px;
    font-size: 90px;
}
.reset{
    width: 180px;
    height: 80px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: #1f3540;
    font-size: 26px;
    color: #26ffcb;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 4px solid #0f1B21;
}

.boxes{
    display: flex;
    height: 130px;
    width: 130px;
    background-color: #1f3540;
    border: 4px solid #0f1B21;
    border-radius: 12px;
    cursor: pointer;
}

.board{
    height: 420px;
    width: 424px;
    display: flex;
    margin: auto;
}
.popx{
    text-align: center;
    font-size: 105px;
    margin-top: 5px;
    color: rgb(17, 186, 216);
    padding-left: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.popo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 105px;
    margin-top: 3px;
    color: rgb(188, 230, 4);
    padding-left: 32px;
}
